[submodule "src/picard"]
	path = src/picard
	url = https://github.com/brandonium21/picard.git
[submodule "src/uros/micro-ROS-Agent"]
	path = src/uros/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = humble
[submodule "src/uros/micro_ros_msgs"]
	path = src/uros/micro_ros_msgs
	url = https://github.com/micro-ROS/micro_ros_msgs.git
	branch = humble
[submodule "src/ldrobot-lidar-ros2"]
	path = src/ldrobot-lidar-ros2
	url = https://github.com/Myzhar/ldrobot-lidar-ros2.git
	branch = humble
